<footer>
<div class="ftimgout"><img class="ftimg" src="/media/images/fshopbi.png" alt=""></div>

<div class="fandress"><br><span style="font-family: Arial, Helvetica, sans-serif;">©</span> 2021 ΕΛΛΗΝΙΚΕΣ ΥΠΕΡΑΓΟΡΕΣ ΣΚΛΑΒΕΝΙΤΗΣ Α.Ε.Ε.<br>
Διεύθυνση Marketing<br><br></div>

</footer>
